# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.docker
.env.template

**/node_modules
/node_modules

.next
.next/*

.yarn
.yarn/*
yarn-error.log
package-lock.json

.medusa
.medusa/*

.gitignore

/dist
.DS_Store
/uploads

# IDEs
.idea
.vscode

