STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379

MEILI_HOST=""
MEILI_MASTER_KEY=""
MEILI_NO_ANALYTICS=true
MEILI_ENV=production
MEILI_DB_PATH=data.ms
MEILI_PORT=7700
MEILI_PRODUCTS_SEARCHABLE_ATTRIBUTES=""
MEILI_PRODUCTS_DISPLAYED_ATTRIBUTES=""
MEILI_PRODUCTS_FILTERABLE_ATTRIBUTES=""
MEILI_PRODUCTS_PRIMARY_KEY=""
MEILI_STOCK_LOCATIONS_SEARCHABLE_ATTRIBUTES=""
MEILI_STOCK_LOCATIONS_DISPLAYED_ATTRIBUTES=""
MEILI_STOCK_LOCATIONS_FILTERABLE_ATTRIBUTES=""
MEILI_STOCK_LOCATIONS_PRIMARY_KEY=""
MEDUSA_ADMIN_BASE_URL=""
NOTIFICATION_TELEGRAM_BOT_TOKEN=""
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
POSTGRES_URL=
