qovery_organization_id = 

# Optional
qovery_create_cluster =

# Optional
qovery_cluster_id = 

qovery_access_token = 

# Optional
aws_access_key_id = 

# Optional
aws_secret_access_key = 

# Optional
aws_region =

# Optional
medusa_jwt_secret = 

# Optional
medusa_cookie_secret = 

git_url = 

# Optional
git_branch = 

# Optional
git_root_path = 